@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple");

.App {
  text-align: center;
}

body {
  padding: 0%;
  margin: 0%;
  font-family: "Montserrat", sans-serif;
}

#head {
  margin: 0, 1em;
  display: flex;
  width: auto;
  height: 70px;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #1C315E;
  color: white;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

#head h1{
  flex-grow: 0.8;
}

#addIcon {
  justify-self: end;
  cursor: pointer;
}

nav {
  margin: 0;
  width: auto;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #E6E2C3;
  font-family: "Rancho", sans-serif;
}

.menu {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.menu:hover {
  color: #1C315E;
}

#creditCards {
  display: flex;
  flex-direction: column;
}

#creditCards nav {
  margin: 1em 3em 0 3em;
  width: auto;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  background-color: white;
}

#creditCards nav #a1 {
  flex-grow: 0.07;
}

.cards {
  margin: 10px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3em;
  padding-bottom: 1em;
  border-bottom: solid;
  border-width: 1px;
}

#app-del {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.image {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10em;
}

.icon {
  margin-left: 3em;
  cursor: pointer;
}

.btn {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  background-color: black;
  text-align: center;
  height: 3em;
  width: 50%;
  font-size: large;
  margin: 0px 5px 20px 5px;
}

.cardInput1 {
  margin: 2em 0 1em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 0 0 3em 0;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cardInputBtn {
  height: 50px;
  width: 500px;
  background-color: black;
  color: white;
  cursor: pointer;
}

.label {
  align-self: flex-start;
  font-size: 35px;
}

.topInput {
  height: 2em;
  width: 500px;
  margin-top: 1em;
  font-size: 20px;
}

#emptyCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headTask {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.inputTask {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.labelTask {
  align-self: flex-start;
  font-size: 20px;
}

.topInputTask {
  height: 40px;
  width: 500px;
  font-size: 20px;
  border-color: black;
}

.btnTask {
  cursor: pointer;
  font-size: 25px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em 0;
}

.task {
  width: 500px;
  text-align: center;
  background-color: lightgray;
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 17px;
  border: solid;
  border-width: 0 0 0 0.3em;
  border-left-color: lightgray;
}

.taskRemin {
  width: 500px;
  text-align: center;
  background-color: lightgray;
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 17px;
  border: solid;
  border-width: 0 0 0 0.3em;
  border-left-color: red;
}

.deleteTask {
  float: inline-end;
}

.shopping {
  margin: 1em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categoryForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: start;
  font-size: 25px;
}

.chooseCategory {
  width: 200px;
  margin-left: 1em;
}

.categoryBtn {
  margin-left: 1em;
  width: 100px;
  height: 25px;
  cursor: pointer;
  border: solid;
  border-color: black;
  border-width: 1px;
  background-color: white;
}

#plusIcon {
  color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.categoryCards {
  margin: 3em 0 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sortCard {
  border: solid;
  border-color: black;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3em 10em;
}

.sortImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2em;
}

#learnmoreBtn {
  height: 30px;
  width: 200px;
  margin-top: 1em;
  cursor: pointer;
  font-size: 15px;
}

.sortBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#sortBodyLabel {
  margin-bottom: 10em;
}

#sortH2 {
  align-self: flex-start;
}

.annualFee {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.annualFee h4 {
  border-radius: 25px;
  padding: 7px;
  background-color: #88A47C;
  color: white;
  margin-top: 3em;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3em 1em 1em 1em;
}

#cardBack {
  height: 200px;
  width: 500px;
}

#PaymentForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 0 2em 0;
}

#cardinfoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
}

.cardinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

.cardinfoInput {
  height: 30px;
  width: 250px;
  margin: 0 1.5em 0 1.5em;
  font-size: 20px;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.cardHover:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: scale(1.04);
  transition: all 0.2s;
}

.infoYes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  text-align: left;
  background-color: lightgray;
  margin-bottom: 3px;
  border-radius: 3px;
  font-size: 15px;
  border: solid;
  border-color: black;
  margin-top: 3em;
  padding: 0 0 0 1em;
}

#infoDes {
  align-self: flex-start;
  color: #1C315E;
}
